@model Animal_Model.AnimalModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="container-fluid" id="content_zip">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                    <div id="divEntry" class="form-row">
                        <div class="form-group col-xl-2 col-md-2 col-sm-12">
                            <label class="required" for="txtAnimalCD">AnimalCD</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                                </div>
                                <input type="text" id="txtAnimalCD" required maxlength="20" tabindex="1"
                                       onkeydown="KeyDown(event,this,'txtAnimalName')" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group col-xl-2 col-md-2 col-sm-12">
                            <label class="required" for="txtAnimalName">AnimalName</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                                </div>
                                <input type="text" id="txtAnimalName" required maxlength="50" tabindex="2"
                                       onkeydown="KeyDown(event,this,'txtDescription')" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group col-xl-2 col-md-2 col-sm-12">
                            <label class="required" for="txtDescription">Description</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                                </div>
                                <input type="text" id="txtDescription" required maxlength="50" tabindex="3"
                                       onkeydown="KeyDown(event,this,'btnSave')" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-centerbtn">
                <button id="btnSave" onclick="SaveClick();"><i class="fa fa-save"></i>&nbsp;<span id="btnText">SAVE</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#txtAnimalCD").focus();
        function setDataFunction() {
            var obj = {
                AnimalCD: '@Model.AnimalCD',
            };
            var response = CalltoApiController('@Url.Action("GetAnimal", "api/AnimalApi")', obj);
            var data = JSON.parse(response);
            if (data.length > 0) {
                SetData(data)
            }
        }
        if ('@Model.Mode' == 'Edit') {
            $("#btnText").html('更新');
            $("#txtAnimalCD").attr('disabled', 'disabled');;
            $("#txtAnimalName").focus();
            setDataFunction();
        }
        else if ('@Model.Mode' == 'Delete') {
            $("#btnSave").css('background-color', 'red');
            $("#btnSave").css('color', 'white');
            $("#txtAnimalCD").attr('disabled', 'disabled');
            $("#txtAnimalName").attr('disabled', 'disabled');
            $("#txtDescription").attr('disabled', 'disabled');
            setDataFunction();
        }
    });

    function SaveClick() {
        var obj = {
            Mode: '@Model.Mode',
            AnimalCD: $("#txtAnimalCD").val(),
            AnimalName: $("#txtAnimalName").val(),
            Description: $("#txtDescription").val(),
        };
        if ('@Model.Mode' == 'New') {
                CalltoApiController('@Url.Action("AnimalCUD", "api/AnimalApi")', obj);
                if ('@Model.Mode' == 'New') {
                    Clear();
                }
        }

        else if ('@Model.Mode' == 'Edit') {
            CalltoApiController('@Url.Action("AnimalCUD", "api/AnimalApi")', obj);
            var url = '@Url.Action("AnimalList", "Animal")';
            location.href = url;

        }

        else if ('@Model.Mode' == 'Delete') {
            CalltoApiController('@Url.Action("AnimalCUD", "api/AnimalApi")', obj);
            var url = '@Url.Action("AnimalList", "Animal")';
            location.href = url;        }
    }

    function Clear() {
        $("#txtAnimalCD").focus();
        $("#txtAnimalCD").val('');
        $("#txtAnimalName").val('');
        $("#txtDescription").val('');
    }

    function SetData(data) {
        $("#txtAnimalCD").val(data[0].AnimalCD);
        $("#txtAnimalName").val(data[0].AnimalName);
        $("#txtDescription").val(data[0].Description);
    }

    </script>
}

